<div [class]="getInputClasses()">
  <label class="input__label" *ngIf="label" [for]="id">{{ label }}</label>
  <div class="input__wrapper">
    <span class="input__icon mt-2" [ngClass]="{'pl-12': icon}" *ngIf="icon != ''">
      <ng-icon [name]="icon" size="20"></ng-icon>
    </span>
    <input
      class="input__field"
      [ngClass]="{'!pl-42': icon}"
      [id]="id"
      [type]="isPasswordVisible ? 'text' : type"
      [placeholder]="placeholder"
      [value]="value"
      [disabled]="disabled"
      [attr.aria-label]="ariaLabel"
      [attr.maxlength]="maxlength"
      [attr.minlength]="minlength"
      [required]="required"
      (input)="onInput($event)"
    />
    <button
      *ngIf="type === 'password'"
      type="button"
      class="input__toggle"
      (click)="togglePasswordVisibility()"
    >
      <ng-icon *ngIf="isPasswordVisible" size="24" name="heroEyeSlash"></ng-icon>
      <ng-icon *ngIf="!isPasswordVisible" size="24" name="heroEye"></ng-icon>
    </button>
  </div>
  <span class="input__error" *ngIf="errorMessage">{{ errorMessage }}</span>
</div>
